*.swp
**/__pycache__/**
imnet_resnet50_scratch/timm_temp/
.dumbo.json
checkpoints/

# Specific for DEIT
/out/
/figures/
/intermediate/out/
/intermediate/figures/
/ims2save_for_logging/
/intermediate/board/
/out_from_try_parallel/
/out_from_debug_image_blur_transform/
Thumbs.db
.idea/